* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url('colorful_dots_on_black.jpg');
	font-family: "Calibri", Calibri;
}
body > header {
	background-color: green;
	color: yellow;
	height: 40px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background: linear-gradient(
	to right,
	red,
	red 33.3%,
	green 33.3%,
	green 67.7%,
	blue 67.7%);
}
aside {
	margin-top: 20px;
	margin-left: 50px;
	background-color: white;
	opacity: 0.9;
	border-radius: 10px;
	width: 300px; 
	height: 250px;
	display: inline-block;
	position: absolute;
}
	aside nav header {
		font-weight: bold;
		font-size: 25px;
		text-decoration: underline;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	aside nav ul {
		list-style-image: url('list-style.png');
		padding-bottom: 10px;
		padding-left: 45px;
	}
	aside nav ul li a{
		text-decoration: none;
		color: black;
		font-size: 24px;
	}
	aside nav ul li:nth-child(1):hover {
		border-radius: 5px;
		margin-left: -27px;
		background-color: red;
		list-style-position: inside;
	}
	aside nav ul li:nth-child(2):hover {
		border-radius: 5px;
		margin-left: -27px;
		background-color: orange;
		list-style-position: inside;
		padding-left
	}
	aside nav ul li:nth-child(3):hover {
		border-radius: 5px;
		margin-left: -27px;
		background-color: yellow;
		list-style-position: inside;
		padding-left
	}
	aside nav ul li:nth-child(4):hover {
		border-radius: 5px;
		margin-left: -27px;
		background-color: green;
		list-style-position: inside;

		padding-left
	}
	aside nav ul li:nth-child(5):hover {
		border-radius: 5px;
		margin-left: -27px;
		background-color: blue;
		list-style-position: inside;
		padding-left
	}
	aside nav ul li:nth-child(6):hover {
		border-radius: 5px;
		margin-left: -27px;
		background-color: purple;
		list-style-position: inside;
		padding-left
	}

section {
	display: inline-block;
	margin-left: 400px;
}
article {
	background-color: white;
	opacity: 0.9;
	border-radius: 10px;
	margin: 10px;
	width: 850px;
	padding-top: 4px;
}
	article header {
		font-size: 2em;
		text-align: left;
		width: 98%;
		margin: 5px;
		margin-top: 5px;
		border-radius: 10px;
		padding-left: 5px;
	}
	article div {
		padding: 10px;
	}
	article footer {
		padding-bottom: 5px;
	}
	article footer a{
		padding-left: 10px;
		color: grey;
		font-style: italic;
	}
	#webColors {
		background-color: red;
		color: white; 
	}
	#webSafeColors {
		background-color: orange;
		color: black;
	}
	#RGB {
		background-color: yellow;
		color: black;
	}
	#RGBA {
		background-color: green;
		color: white;
	}
	#\#HSLHSV {
		background-color: blue;
		color: white;
	}
	#\#lorem {
		background-color: purple;
		color: white;
	}