body {
	background-color: pink;
	font-family: "Tahoma", Tahoma;
	font-style: italic;
}
	h1 {
		padding-left: 90px;
		font-style: italic;
	}
button {
	width: 200px;
	height: 30px;
}
.input {
	width: 200px;
}
.time {
	width: 90px;
}
.number {
	width: 60px;
}
.age {
	padding-right: 36px;
}
#departure-city {
	margin-bottom: 20px;
}
#search {
	text-align: right;
}
