h1 {
	color: #234465
}
#reminder {
	color: grey;
}
fieldset {
	display: inline;
	border: none;
}
#regbtn {
	padding-left: 170px;

}
	#regimg {
		height: 35px; 
	}
#logbtn {
	display: inline;
	padding-left: 150px;
}
	#logimg {
		height: 35px;
	}
.small-form {
		padding-top: 0px;
		background-color: #234465;
		display: inline;
}
	#text {
		width: 100%;
		height: 30px;
		margin-bottom: 5px;
	}
	#remember {
		width: 20px;
		height: 20px;
		margin-left: 0px;
	}
	#rememberlabel {
		color: white;
	}
	#forgotten-pass {
		padding-left: 265px;
		color: white;
	}
#have-acc{
	color: white;
}
.register-form {
	
}
	#if-new {
		color: darkgrey;
	}
	#reg {
		color: #234465		
	}
body {
	background-color: #eee;
	font-family: "Tahoma", Tahoma;
}