#life {
	color: blue;
	width: 375px;
	height: 60px;
}
#google {
	color: blue;
	width: 185px;
	height: 80px;
}
#github {
	color: blue;
	width: 185px;
	height: 80px;
}
#fb {
	color: blue;
	width: 90px;
	height: 80px;
}
#gmail {
	color: blue;
	width: 90px;
	height: 80px;
}
#youtube {
	color: blue;
	width: 90px;
	height: 80px;
}
#two-thousand {
	color: blue;
	width: 90px;
	height: 80px;
}
#food {
	color: blue;
	width: 90px;
	height: 70px;
}
#game {
	color: blue;
	width: 185px;
	height: 70px;
}
#social {
	color: blue;
	width: 80px;
	height: 30px;
}
#sleep {
	color: blue;
	width: 80px;
	height: 30px;
}
#beer {
	color: blue;
	width: 280px;
	height: 80px;
}
#wc {
	color: blue;
	width: 90px;
	height: 80px;
}