body {
	background-color: lightblue;
	font-family: "Calibri", Calibri;
}

/* header */
header {
	position: absolute;
	bottom: 92.5%;
	height: 50px;
	width: 100%;
	background-color: white;
}
header nav {
	display: inline;
}
header ul {
	list-style: none;
	display: inline;
	padding-left: 0;
}
header ul li {
	display: inline;
	padding-right: 5px;
}
header form {
	display: inline;
}
/* header */



/* left side */

/*.profile-summary {
	position: absolute;
	bottom: 60%;
}*/
	#blue-field {
		background-color: darkblue;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		width: 200px;
		height: 200px;
	}
	#summary {
		background-color: white;
		width: 200px;
	}
	#new-tweet {
		background-color: #CDECFA;
		width: 200px;
	}

#trends {
	background-color: white;
	width: 200px;
}
	#trends-heading {
		color: grey;
		font-size: 18px;
	}
	#trends-change {
		text-decoration: none;
		color: cornflowerblue;
		padding-left: 80px;
	}
	#trends ul {
		list-style-type: none;
		text-decoration: none;
		padding-left: 0;
	}
	#trends ul li a {
		color: cornflowerblue;
		text-decoration: none;
	}

	/* left side*/

#tweets {
	background-color: white;
	border-radius: 10px;
	width: 600px;
}
	.tweets-anchor {
		text-decoration: none;
		color: cornflowerblue;
	}
	.tweets-more {
		color: grey;
		padding-left: 260px;
	}
	#tweets table th {
		text-align: left;
	}
	img {
		width: 40px;
		height: 40px;
	}
	#tweets h2 {
		color: grey;
		padding-left: 10px;
		font-weight: normal;
		font-size: 35px;
		font-family: "Calibri", Calibri;
		margin-bottom: 0;
	}
	.posted-at {
		color: grey;
	}
