* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #98CAED;
	font-family: "Calibri", Calibri;
}

/* header */
header {
	background-color: white;
	height: 40px;
}
#head-div {

}
header ul {
	list-style: none;
	display: inline;
}
	header ul li {
		display: inline;
	}
	header ul li a {
		color: grey;
		text-decoration: none;
		font-size: 17px;
		padding: 20px;
	}
	#logo {
		display: inline;
		padding-left: 250px;
		content: url(twitter-logo.png);
		height: 30px;
		width: 30px;
	}
	header nav {
		display: inline;
	}
	header form {
		padding-left: 350px;
		display: inline;
	}
		header form input {
			background-color: lightgrey;
			border-radius: 10px;
			height: 20px;
			width: 200px;
		}
/* header end */

/* left aside */

aside {
	background-color: white;
	margin: 10px;
	border-radius: 10px;
	width: 300px;
}
	aside #user-table {
		padding-left: 85px;
		border-spacing: 0;
	}
	#blue-field {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: blue;
		height: 100px;
	}
	#user-name {
		font-weight: bold;
		font-size: 24px;
	}
	#user-nick {
		font-size: 18px;
	}
	#user-logo {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 19%;
		left: 1.5%;
		border: 3px solid white;
		border-radius: 5px;
	}

	aside #user-summary {
		margin-top: 10px;
	}
	aside #user-summary th{
		color: grey;
		padding-left: 10px;
		font-size: 18px;
	}
	aside #user-summary td {
		color: cornflowerblue;
		padding-left: 10px;
		font-size: 18px;
	}
	#new-tweet {
		background-color: #C2DDF0;
		height: 40px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		text-align: center;
	}
	#new-tweet form input {
		margin-top: 8px;
		width: 90%;
		height: 23px;
		border: none;
	}

#trends {
	height: 230px;
}
#trends-heading {
	color: grey;
	font-size: 24px;
	padding-left: 10px;
}
#trends-change {
	text-decoration: none;
	color: cornflowerblue;
	padding-left: 10px;
}
#trends ul {
	list-style: none;
	padding-left: 10px;
}
#trends ul a {
	text-decoration: none;
	color: cornflowerblue;
}

/* left aside */

/* main */

section {
	background-color: white;
	margin: 10px;
	width: 600px;
	border-radius: 10px;
}
	section h2 {
		color: grey;
		font-size: 28px;
		padding-left: 10px;
	}
	table {
		border-spacing: 0;
		padding-left: 10px;
	}
	table th {
		text-align: left;
	}
	.image {
		width: 50px;
		height: 50px;
	}
	.posted-at {
		color: grey;
		font-size: 12px;
	}
	.tweets-anchor {
		text-decoration: none;
		color: cornflowerblue;
	}
	.tweets-expand {
		color: grey;
		text-decoration: none;
	}
	.tweets-options {
		color: grey;
		padding-left: 240px;
	}