#calculator {
	border: solid 2px black;
	width: 190px;
	height: 200px;
	table-layout: fixed;
	background-color: lightgrey;
}
	.button {
		width: 40px;
		height: 40px;
	}
	.button:hover {
		background-color: darkgrey;
	}
	#display {
		width: 175px;
		height: 40px;
		float: left;
		font-size: 28px;
		text-align: right;
	}
	
::-webkit-input-placeholder {
    color: black;
}