#header {
	font-size: 30px;
	font-family: "Calibri", Calibri; 
}
.frame:hover {
	border: 2px solid red;
}
fieldset {
	border-radius: 7px;
	border-bottom-right-radius: 0px;
	width: 150px;
	height: 180px;
	color: #3B5997;
	border-color: #CDFAD7;
}
.price {
	color: white;
	background-color: #3B5997;
	float: right;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 36px;
	padding-left-left: 40px;
	width: 80px;
	text-align: center;
}
.model {
		font-weight: bold;
		text-align: center;
		font-size: 17px;
	}
#small-table {
	background-color: #CDFAD7;
	width: 200px;
}
	.header {
		text-align: center;
		font-size: 20px;
	}
	input {
		width: 190px;
	}
	.max {
		text-align: right;
	}
